.highlight {
  font-weight: bold;
}

.navbar {
  background-color: #C2DFFF;
  height: 50px;
  padding: 10px;
  border-radius: 0px;
}

.title {
  font-size: 25px;
}

.search-container {
  padding: 10px;
}
