<div>

  <h3 class="header">{{playlistName}}</h3>
  <a class="header" ui-sref="myPlaylists">Back to all My Playlists</a>
  <hr></hr>
  <div class="row">
    <div class="col-md-1"><span class="songdetails">Move</span></div>
    <div class="col-md-3"><span class="songdetails">Artist</span></div>
    <div class="col-md-3"><span class="songdetails">Song Title</span></div>
    <div class="col-md-2"><span class="songdetails">Length</span></div>
    <div class="col-md-2"><span class="songdetails">Popularity</span></div>
    <div class="col-md-1"><span class="songdetails">Delete</span></div>
  </div>
  <hr></hr>

  <div class="playlist-song">
    <div ng-repeat="song in playlist">
      <div class="row">
        <div class="col-md-1">
          <button type="button" class="btn btn-default btn-sm" ng-click="moveUp(playlistName, $index)">
            <span class="glyphicon glyphicon-arrow-up" aria-hidden="true"></span>
          </button>
          <button type="button" class="btn btn-default btn-sm" ng-click="moveDown(playlistName, $index)">
            <span class="glyphicon glyphicon-arrow-down" aria-hidden="true"></span></div>
          </button>
        <div class="col-md-3">{{song.artistName}}</div>
        <div class="col-md-3">{{song.title}}</div>
        <div class="col-md-2">
            <span ng-if="song.duration.hours != 0">{{song.duration}} hours </span>
            {{song.duration.minutes}}:{{song.duration.seconds}}</div>
        <div class="col-md-2"> {{song.songPopularity}}</div>
        <div class="col-md-1">
          <button type="button" class="btn btn-default btn-sm" ng-click="deleteSong(playlistName,$index)">
            <span class="glyphicon glyphicon-remove" aria-hidden="true"></span>
          </button>
        </div>
      </div>
      <hr></hr>
    </div>
  </div>

</div>
